@font-face {
  font-family: 'star_jediregular';
  src: url('fonts/starjedi-webfont.woff2') format('woff2'),
       url('fonts/starjedi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'star_jedi_hollowregular';
  src: url('starjhol-webfont.woff2') format('woff2'),
       url('starjhol-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    font-family: 'star_jediregular';
  }

  .header a:visited {
    color:white;
    }
    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    a:active {
      text-decoration: underline;
    }
  
    .section-2 a:visited {
      color:black;
      }


    .right-side img {
      height: 800px;
      width: auto;
      vertical-align: bottom;
     }

  .section-2 img {
    width: 200px;
    height: 240px;
    border-radius: 17px;
    vertical-align: bottom;
  }
  
  .info {
    border: 6px solid red;
    border-radius: 25px;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

.header {
  display: flex;
  justify-content: space-around;
  gap: 108px;
  padding-top: 24px;
}

.logo img {
  height: 50px;
  width: auto;
}

.section-1 {
  background: url(stars.webp);
    padding: 60px;
    padding-top: 0px;
    background-attachment: fixed;
}

.section-alt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
}

.along {
  padding-left: 200px;
}

.section-1 p {
color: white;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.right-side img {
  padding-top: 100px;
  padding-bottom: 100px;
}

.HeroMaintext {
  font-size: 48px;
  text-align: left;
  font-family: 'star_jediregular';
}

.HeroSecondarytext {
  font-size: 18px;
  text-align: left;
  padding-top: 50px;
  width: 800px;
  font-family: 'star_jediregular';
}

.containerception {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.footer {
  background: #1F2937;
  color: white;
  text-align: center;
  padding: 20px;
  }

.container {
  display: flex;
  justify-content: space-around;
}

.container2 {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  font-size: 30px;
}


.section-2 {
  padding: 75px;
  background-color: #18191A;
}

.section-2 p {
  padding: inherit;
  padding-top: 0px;
  margin: 0px;
  color: yellow;
  font-size: 48px;
  text-align: center;
}

.section-3 {
  background: url(stars3.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  padding: 100px;
}

.section-4 {
    padding: 180px;
    text-align: center;
}